@model IEnumerable<Preschool.Models.Subscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br />
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentComplete)
            </th>
            <th>
                Child Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentComplete)
            </td>
            <td>
                @item.Child.FirstName @item.Child.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}