@model IEnumerable<Preschool.Models.Subscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
