@model IEnumerable<Child>

    
<h1>Childern List to Classroom @Model.Select(c => c.Classroom.Name).FirstOrDefault()</h1>

<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Child Name
            </th>
           
            <th>
                Class Room
            </th>
           
            <th>
                Last Check in - out
            </th>

            <th>
                Attendances
            </th>

        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                </td>
                
                <td>
                    @item.Classroom.Name
                </td>
                <td>
                    @item.Attendances.OrderByDescending(a => a.Date).Select(a => a.Date).FirstOrDefault()
                </td>
                
                <td>
                   
                        @if (item.Attendances.OrderByDescending(a => a.Date).Select(a => a.Status).FirstOrDefault())
                        {
                        <label class="switch" data-route-id="@item.Id">
                            <input type="checkbox" id="slider-@item.Id" checked> <!-- Unique ID for each switch -->
                            <span class="slider round" ></span>
                        </label>
                        <span id="result-@item.Id" style="color:red"></span> <!-- Unique ID for result -->
                        }
                        else
                        {
                        <label class="switch" data-route-id="@item.Id">

                            <input type="checkbox" id="slider-@item.Id"> <!-- Unique ID for each switch -->
                            <span class="slider round" ></span>
                        </label>

                        <span id="result-@item.Id" style="color:green" ></span> <!-- Unique ID for result -->
                        }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        document.querySelectorAll("input[type='checkbox']").forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                var isChecked = this.checked;
                var routeId = this.parentElement.getAttribute("data-route-id");
                var action = isChecked ? "ChildCheckIn" : "ChildCheckOut";
                var resultId = "result-" + routeId; // Unique result ID

                $.ajax({
                    type: "POST",
                    url: `/${action}/${routeId}`,
                    success: function (response) {
                        // Update the unique result span with the response
                        document.getElementById(resultId).innerText = response;
                    },
                    error: function (error) {
                        console.error("Error:", error);
                    }
                });
            });
        });

    </script>
}





